# App
PORT=8080
APP_ENV=dev
CORS_ORIGIN=http://localhost:3000

# DB (docker-compose maps host:5430 -> container:5432)
DB_HOST=localhost
DB_PORT=5430
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=wishlist_db
DB_SSLMODE=disable

# Auth
JWT_SECRET=your-secret-key
BOT_TOKEN=your-telegram-bot-token
COOKIE_DOMAIN=localhost

# MinIO (docker-compose maps host:9000 -> container:9000)
MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET_NAME=wish-list-bucket
MINIO_ROOT_USER=your-minio-user
MINIO_ROOT_PASSWORD=your-minio-password
MINIO_USE_SSL=false
